.camada {
  /* width: 95%; */
  height: 80px;
  background-color: #2f2314;
  z-index: 1;
  border-radius: 15px;
  box-shadow: -6px -6px 12px #000000 inset,6px 6px 12px #000000 inset;
}

@media (max-width: 700px) {
  .camada {
    height: 40px;
    border-radius: 7px;
  }
}